{
    "model": {
        "model_name": "disconnected_rnn",
        "window_size": 15,
        "pad_left_num": 0,
        "emb_size": 300,
        "fc_drop": 0.2,
        "rnn_units": 300,
        "mlp_units": 300,
        "rnn_drop": 0,
        "fc_activation_1": null,
        "fc_activation_2": null,
        "initial_type": "xavier",
        "xavier_factor": 6,
        "pre_attention": null
    },

    "data": {
        "data": "topic_l1"
    },

    "trainer":{
        "trainer": "basic_trainer"
    }
}
