{
    "model": {
        "model_name": "disconnected_rnn",
        "window_size": 20,
        "pad_left_num": 0,
        "emb_size": 300,
        "fc_drop": 0.2,
        "rnn_units": 300,
        "mlp_units": 300,
        "rnn_drop": 0,
        "fc_activation_1": null,
        "fc_activation_2": null,
        "attention_activation": "relu",
        "encode_type": "other_transformer",
        "attention_head": 2,
        "attention_block": 4,
        "attention_drop": 0.1,
        "initial_type": "xavier",
        "xavier_factor": 0.5,
        "pre_attention": null
    },

    "data": {
        "data": "yahoo_answers"
    },

    "trainer":{
        "trainer": "basic_trainer"
    }
}
