{
    "ag_news": {
        "dataset": "ag_news",
        "type": "single_label",
        "dataset_size": 120000,
        "n_classes": 4,
        "max_sequence_length": 128,
        "process_way": "nltk_tokenizer",
        "neighbor_embedding": false,
        "train_data": "data/model_data/ag_news_csv/train_train.csv.id",
        "dev_data": "data/model_data/ag_news_csv/train_dev.csv.id",
        "test_data": "data/model_data/ag_news_csv/test.csv.id",
        "vocab_path": "data/model_data/ag_news_csv/unigram.id",
        "embedding_path": "data/model_data/ag_news_csv/neighbor_neighbor_embedding.embedding"
    },

    "dbpedia": {
        "dataset": "dbpedia",
        "type": "single_label",
        "dataset_size": 560000,
        "n_classes": 14,
        "max_sequence_length": 128,
        "process_way": "nltk_tokenizer",
        "neighbor_embedding": false,
        "train_data": "data/model_data/dbpedia_csv/train_train.csv.id",
        "dev_data": "data/model_data/dbpedia_csv/train_dev.csv.id",
        "test_data": "data/model_data/dbpedia_csv/test.csv.id",
        "vocab_path": "data/model_data/dbpedia_csv/unigram.id",
        "embedding_path": "data/model_data/dbpedia_csv/neighbor_neighbor_embedding.embedding"
    },

    "sogou": {
        "dataset": "sogou",
        "type": "single_label",
        "dataset_size": 390000,
        "n_classes": 5,
        "max_sequence_length": 600,
        "process_way": "nltk_tokenizer",
        "neighbor_embedding": false,
        "train_data": "data/model_data/sogou_news_csv/train_train.csv.id",
        "dev_data": "data/model_data/sogou_news_csv/train_dev.csv.id",
        "test_data": "data/model_data/sogou_news_csv/test.csv.id",
        "vocab_path": "data/model_data/sogou_news_csv/unigram.id",
        "embedding_path": "data/model_data/sogou_news_csv/neighbor_neighbor_embedding.embedding"
    },

    "yelp_review_polarity":{
        "dataset": "yelp_review_polarity",
        "type": "single_label",
        "dataset_size": 560000,
        "n_classes": 2,
        "max_sequence_length": 300,
        "process_way": "nltk_tokenizer",
        "neighbor_embedding": false,
        "train_data": "data/model_data/yelp_review_polarity_csv/train_train.csv.id",
        "dev_data": "data/model_data/yelp_review_polarity_csv/train_dev.csv.id",
        "test_data": "data/model_data/yelp_review_polarity_csv/test.csv.id",
        "vocab_path": "data/model_data/yelp_review_polarity_csv/unigram.id",
        "embedding_path": "data/model_data/yelp_review_polarity_csv/neighbor_neighbor_embedding.embedding"
    },


    "yelp_review_full":{
        "dataset": "yelp_review_full",
        "type": "single_label",
        "dataset_size": 650000,
        "n_classes": 5,
        "max_sequence_length": 300,
        "process_way": "nltk_tokenizer",
        "neighbor_embedding": false,
        "train_data": "data/model_data/yelp_review_full_csv/train_train.csv.id",
        "dev_data": "data/model_data/yelp_review_full_csv/train_dev.csv.id",
        "test_data": "data/model_data/yelp_review_full_csv/test.csv.id",
        "vocab_path": "data/model_data/yelp_review_full_csv/unigram.id",
        "embedding_path": "data/model_data/yelp_review_full_csv/neighbor_neighbor_embedding.embedding"
    },

    "yahoo_answers":{
        "dataset": "yahoo_answers",
        "type": "single_label",
        "dataset_size": 1400000,
        "n_classes": 10,
        "max_sequence_length": 300,
        "process_way": "nltk_tokenizer",
        "neighbor_embedding": false,
        "train_data": "data/model_data/yahoo_answers_csv/train_train.csv.id",
        "dev_data": "data/model_data/yahoo_answers_csv/train_dev.csv.id",
        "test_data": "data/model_data/yahoo_answers_csv/test.csv.id",
        "vocab_path": "data/model_data/yahoo_answers_csv/unigram.id",
        "embedding_path": "data/model_data/yahoo_answers_csv/neighbor_neighbor_embedding.embedding"
    },

    "amazon_review_full":{
        "dataset": "amazon_review_full",
        "type": "single_label",
        "dataset_size": 3600000,
        "n_classes": 5,
        "max_sequence_length": 256,
        "process_way": "nltk_tokenizer",
        "neighbor_embedding": false,
        "train_data": "data/model_data/amazon_review_full_csv/train_train.csv.id",
        "dev_data": "data/model_data/amazon_review_full_csv/train_dev.csv.id",
        "test_data": "data/model_data/amazon_review_full_csv/test.csv.id",
        "vocab_path": "data/model_data/amazon_review_full_csv/unigram.id",
        "embedding_path": "data/model_data/amazon_review_full_csv/neighbor_neighbor_embedding.embedding"
    },

    "amazon_review_polarity":{
        "dataset": "amazon_review_polarity",
        "type": "single_label",
        "dataset_size": 3000000,
        "n_classes": 2,
        "max_sequence_length": 256,
        "process_way": "nltk_tokenizer",
        "neighbor_embedding": false,
        "train_data": "data/model_data/amazon_review_polarity_csv/train_train.csv.id",
        "dev_data": "data/model_data/amazon_review_polarity_csv/train_dev.csv.id",
        "test_data": "data/model_data/amazon_review_polarity_csv/test.csv.id",
        "vocab_path": "data/model_data/amazon_review_polarity_csv/unigram.id",
        "embedding_path": "data/model_data/amazon_review_polarity_csv/neighbor_neighbor_embedding.embedding"
    },
    "basic_trainer":{
        "max_epoch": 100,
        "max_delay_eval": 10,
        "eval_batch_interval": 500,
        "batch_eval": true,
        "epoch_eval": false,
        "batch_size": 16,
        "optimizer": "Adadelta",
        "learning_rate": 1,
        "rho": 0.95,
        "epsilon": 1e-6,
        "checkpoint_dir_base": "log/model_saved"
    }
}